


.list__taskButton--checkMark {
    background-color: #0a8127;
    transition: 0.5s;
}

.list__taskButton--checkMark:hover {
    background-color: #0b982f;
}

.list__taskButton--checkMark:active {
    background-color: #0daf36;
}

.list__taskButton--delete {
    background-color: #e42121;
    transition: 0.5s;
}

.list__taskButton--delete:hover {
    background-color: #e74040;
}

.list__taskButton--delete:active {
    background-color: #ea5757;
}